
{% load static %}
{% load socialaccount %}
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>

        <div class="page-header">
             
      	{% if user.is_authenticated %}
	<a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
	{% endif %}

	{% if user.is_authenticated %}
	<font color="white">
	Jesteś zalogowany 
	{{ user.get_username }}!
	<button><a href="/logout" %}">Wyloguj się</a></button>

	{% else %}
	<font color="white">
	<button><a href="/admin/" %}">Zaloguj przez Djangogirls</a></button>
	{% load socialaccount %}
	<button><a href="{% provider_login_url "google" %}">Zaloguj przez Google</a></button>
	{% endif %}

	{% if user.is_authenticated %}
	<a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
	{% endif %}

            <h1><a href="/">Django Girls Blog</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
	            <font color="black">

                    {% block content %}
                    {% endblock %}

                </div>
            </div>
        </div>
    </body>
</html>